@page "/createrecipe"

@inject HttpClient Http
@using System.ComponentModel.DataAnnotations
@using AmnasKitchen.Shared

<section id="CreateRecipe">
    <h2>Create Recipe</h2>
    <hr />

    <div class="row p-3 m-0 w-100">

        <EditForm EditContext="@MyEditContext" OnValidSubmit="@HandleValidSubmit" class="w-100">
            <DataAnnotationsValidator />

            <div class="form-group w-100">
                <TelerikTextBox @bind-Value="@recipeForm.Title" Label="Enter Recipe Title" Width="100%"></TelerikTextBox>
            </div>

            <div class="form-group w-100">
                <TelerikMultiSelect Data="@categories"
                                    @bind-Value="@recipeForm.SelectedCategoriesIds"
                                    ValueField="@nameof(Category.Id)"
                                    TextField="@nameof(Category.Name)"
                                    Placeholder="Select Categories"
                                    Width="100%"
                                    Id="products-multiselect" />
            </div>

            <div class="form-group w-100">
                <label for="Recipe-Time">Time to prepare</label>
                <TelerikNumericTextBox @bind-Value="@recipeForm.Time" Id="Recipe-Time" Class="form-control" Width="100%"></TelerikNumericTextBox>
            </div>

            <div class="form-group w-100">
                <label for="MealDifficulty">Difficulty level</label>
                <input type="range" min="1" max="5" @bind="@recipeForm.Difficulty" class="form-control" id="MealDifficulty">
                @for (int i = 0; i < recipeForm.Difficulty; i++)
                {
                    <i class="fa fa-fire" aria-hidden="true"></i>
                }
            </div>

            <div class="form-group w-100">
                <textarea rows="5" class="form-control w-100" placeholder="Enter Recipe Description" @bind="recipeForm.Description" />
            </div>

            <div class="mt-4">
                <ValidationSummary />
            </div>

            <TelerikButton ButtonType="@ButtonType.Submit">Submit</TelerikButton>
        </EditForm>



    </div>

</section>

@code {
    protected EditContext MyEditContext { get; set; }

    public RecipeForm recipeForm { get; set; }

    public List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        recipeForm = new RecipeForm();
        MyEditContext = new EditContext(recipeForm);
        categories = await Http.GetFromJsonAsync<List<Category>>("api/Recipe/GetAllCategories");
    }

    void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

}
