@page "/viewusers"
@using AmnasKitchen.Shared
@inject HttpClient Http


<section id="userpage">
    <div class="container-fluid">
        <h2>All Users Info</h2>

        <p>This component demonstrates fetching data from the server.</p>

        @if (AllUsers == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <TelerikGrid Data="@AllUsers" Height="400px"
                         Pageable="true">
                <GridColumns>
                    <GridColumn Field="@(nameof(User.Id))" />
                    <GridColumn Field="@(nameof(User.UserName))" Title="UserName" />
                    <GridColumn Field="@(nameof(User.Password))" Title="Password" />
                    <GridColumn Field="@(nameof(User.Email))" Title="Email" />
                </GridColumns>
            </TelerikGrid>
        }
    </div>
</section>


@code {
    private User[] AllUsers;

    protected override async Task OnInitializedAsync()
    {
        AllUsers = await Http.GetFromJsonAsync<User[]>("api/Users/GetAllUsers");
    }

}
