@page "/viewusers"
@using AmnasKitchen.Shared
@inject HttpClient Http


<section id="userpage">
    <div class="container">

        <h1>All Users Info</h1>

        <p>This component demonstrates fetching data from the server.</p>

        @if (AllUsers == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <TelerikGrid Data="@AllUsers" Height="400px"
                         Pageable="true">
                <GridColumns>
                    <GridColumn Field="@(nameof(Users.Id))" />
                    <GridColumn Field="@(nameof(Users.UserName))" Title="UserName" />
                    <GridColumn Field="@(nameof(Users.Password))" Title="Password" />
                    <GridColumn Field="@(nameof(Users.Email))" Title="Email" />
                </GridColumns>
            </TelerikGrid>
        }
    </div>
</section>


@code {
    Users[] AllUsers;

    protected override async Task OnInitializedAsync()
    {
        AllUsers = await Http.GetFromJsonAsync<Users[]>("Users/GetAllUsers");
    }

}
